extends ../../templates/card_footerless_templ
block card-header
    i.fas.fa-chart-bar.pr-3
    span.font-weight-bold.card-title Total I/O
block card-body
    div.pt-3
        canvas#ioTotalChart.card-text