extends ../../templates/card_footerless_templ
block card-header
    i.fas.fa-chart-line.pr-3
    span.font-weight-bold.card-title I/O per Sec
block card-body
    div.pt-3
        canvas#ioPerSecChart.card-text