extends ../../templates/card_footerless_templ
block card-header
    i.fas.fa-chart-line.pr-3
    span#nwPerSecHeader.font-weight-bold.card-title Network Traffic per second
block card-body
    canvas#nwPerSecChart.card-text