table#network-interfaces-table.table.table-hover.table-responsive-sm.table-responsive-md.table-responsive-lg.table-responsive-xl
        thead
            tr
                th NAME
                th STATE
        tbody
            each netInf in netInfs
                tr 
                    td(style="width: 15%;")= netInf.iface
                    td(style="width: wrap-content;")= netInf.operstate