extends ../templates/card_footer_templ
block card-body
    icon(class="fab fa-docker fa-2x pr-3")
    span(class="class-title" style="font-size: 1.5rem;") Containers
    div(id="containerTable-parent")
        include containerTable
        