extends ../templates/card_footerless_templ
block card-body
    i.fab.fa-docker.fa-2x.pr-3
    span.class-title.card-title Containers
    div(id="containerTable-parent")
        include containerTable
        