extends ../templates/card_footerless_templ
block card-body
    icon.far.fa-clone.fa-2x.pr-3
    span.class-title(style="font-size: 1.5rem;") Images
    div#imageTable-parent
        include imageTable