extends card_layout
block card-body
    icon(class="far fa-clone fa-2x pr-3")
    span(class="class-title" style="font-size: 1.5rem;") Images
    table(class="table table-hover mt-4" id="image-table")
        thead
            tr
                th ID
                th REPO/ NAME:TAG
                th CREATED
                th SIZE
        tbody
            each image in images
                tr(data-js-href="/images/" + image.Id) 
                        td(style="width: 15%;")= image.Id
                        td(style="width: 15%;")= image.RepoTags
                        td= image.Created
                        td= image.Size  