extends ../layout
block append styles
    // Global css file
    link(rel="stylesheet" href="css/dashboard.css")
block append scripts
    script(src="js/dashboard.js" type="text/javascript")
block content
    div(class="border-bottom pt-3")
        h1 Dashboard
    div(class="col-12 card-deck p-0 pt-3")
        include card_containers
        include card_cpuUtil
        include card_ramUtil
    div(class="col-12 p-0 pt-3 pr-4")
        include card_containerTable
    div(class="col-12 p-0 pt-3 pr-4 pb-3")
        include card_imageTable