extends ../layout
block append styles
    // Global css file
    link(rel="stylesheet" href="css/dashboard.css")
block append scripts
    script(src="js/dashboard.js" type="text/javascript")
block content
    div.pt-3
        h1 Dashboard

    //- Host Statistics
    div.border-w-2.pt-3
        i.fas.fa-chart-line.fa-2x.pr-3
        span.class-title.section-title Host Statistics
    div.row.p-0.pt-3
        div.col-4
            include card_containers
        div.col-4    
            include card_cpuUtil
        div.col-4    
            include card_ramUtil

    //- Containers
    div.border-w-2.pt-5
        i.fab.fa-docker.fa-2x.pr-3
        span.class-title.section-title Containers 
    div.row.p-0.pt-3
        div.col-12
            include card_containerTable

    //- Images
    div.border-w-2.pt-5
        icon.far.fa-clone.fa-2x.pr-3
        span.class-title.section-title Images 
    div.row.p-0.pt-3.pb-3
        div.col-12
            include card_imageTable