html
  head(lang="en")
    title Container Panel - #{title}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block styles
        // Global css file
        link(rel="stylesheet" href="css/global.css")
        // Latest compiled and minified CSS
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        // Fontawesome fonts
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet")
    block scripts 
        // jQuery library
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript")
        // Popper JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" type="text/javascript")
        // Latest compiled Bootstap JS
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" type="text/javascript")
        // Chart JS
        script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0")
        // Chart JS: Datalabels plugin
        script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0" type="text/javascript")
  body
    div.container-fluid.p-0
        div.row.no-gutters
            div.col-xs-12.col-md-2
                include sidebar/sidebar_layout
            div.col-xs-12.col-md-10
                div.container-fluid.p-2.pl-5.pr-5.overlay-architect.gutter-2
                    block content