block append styles
    link(rel="stylesheet" type="text/css" href="css/sidebar.css")
block append scripts
    script(src="js/sidebar.js" type="text/javascript")
div#sidebar-wrapper.bg-primary.h-100
    svg#Krones-Logo-White.mr-4.ml-4.mt-2.mb-2(style="height: 5vh;" data-name="Krones-Logo-White" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 209.979 64.582")
        title Krones Logo
        path(d="M86.787,29.732H80.63L70.047,43.2V29.732H64.554V60.609h5.493V46.422L80.58,60.609h7.283L75.157,44.659c.3-.369,12.27-14.927,12.27-14.927Z" transform="translate(-16.219 -13.084)" fill="#fff")
        path(d="M92.637,29.733l-.284.018V60.609h5.494V47.837l9.184,12.772h6.908l-8.35-11.024L103.9,47.446l-.558-.7c5.061-.75,8.318-4.1,8.318-8.682,0-5.646-3.663-8.51-10.887-8.51-3.64,0-6.073.054-8.136.18Zm7.463,4.416c4.041,0,5.842,1.374,5.842,4.452,0,2.912-2.307,4.721-6.021,4.721l-2.074-.078V34.229l2.253-.08Z" transform="translate(-16.219 -13.084)" fill="#fff")
        path(d="M116.509,45.508c0,10.027,4.949,15.551,13.936,15.551,8.734,0,14.834-6.691,14.834-16.268,0-9.855-5.08-15.507-13.937-15.507-8.733,0-14.833,6.672-14.833,16.224Zm5.807-.583c0-7.412,4.307-10.731,8.577-10.731,5.532,0,8.578,3.938,8.578,11.089,0,7.434-4.493,10.82-8.668,10.82-5.473,0-8.487-3.97-8.487-11.178Z" transform="translate(-16.219 -13.084)" fill="#fff")
        path(d="M176.046,29.732H170.99v9.273c0,4.027.108,9.479.251,13.02-.959-1.88-1.949-3.8-3.052-5.641L158.1,29.732h-6.886V60.609h5.36V50.127c0-3.812-.069-8.768-.2-11.958a56.68,56.68,0,0,0,2.733,5.075l10.447,17.365h6.8V29.732Z" transform="translate(-16.219 -13.084)" fill="#fff")
        path(d="M201.242,29.732H184.973V60.609h16.571V55.833H190.467V47.021h10.539v-4.6H190.467V34.419h11.077V29.732Z" transform="translate(-16.219 -13.084)" fill="#fff")
        path(d="M207.205,38.422c0,5.617,4.178,7.258,7.863,8.706,2.881,1.132,5.368,2.109,5.368,4.748,0,3.937-3.991,4.361-5.707,4.361a19.16,19.16,0,0,1-6.174-1.1l-.383-.141-.307,5.276.241.061a25.658,25.658,0,0,0,6.175.728c7.128,0,11.918-3.979,11.918-9.9,0-5.461-4.2-7.152-7.9-8.643-2.858-1.151-5.327-2.145-5.327-4.631s2.016-3.958,5.394-3.958a18.843,18.843,0,0,1,5.383.838l.367.113.308-5-.267-.046a32.7,32.7,0,0,0-5.522-.543c-6.94,0-11.426,3.587-11.426,9.138Z" transform="translate(-16.219 -13.084)" fill="#fff")
        path(d="M19.353,28.694l-3.059,2.085a.169.169,0,0,0-.072.111.174.174,0,0,0,.028.129,38.524,38.524,0,0,1,6.921,22.145,38.517,38.517,0,0,1-6.919,22.107.17.17,0,0,0-.028.128.174.174,0,0,0,.071.11l3.056,2.126a.172.172,0,0,0,.141.025.17.17,0,0,0,.111-.09L31.642,53.24a.176.176,0,0,0,0-.152L19.6,28.759a.174.174,0,0,0-.11-.09.17.17,0,0,0-.14.025Z" transform="translate(-16.219 -13.084)" fill="#fff")
        path(d="M45.973,13.086a.17.17,0,0,0-.121.076L30.938,35.843a.172.172,0,0,0-.018.151L39.9,61.608a.168.168,0,0,0,.1.1.165.165,0,0,0,.142-.008l3.293-1.736a.172.172,0,0,0,.072-.232,38.835,38.835,0,0,1,5.4-43.922.172.172,0,0,0,.043-.124.169.169,0,0,0-.057-.119l-2.783-2.443a.17.17,0,0,0-.136-.041Z" transform="translate(-16.219 -13.084)" fill="#fff")
    div.nav.flex-column.pt-4
        each item in nav 
            a.nav-item.sb-nav-item.p-3.nav-link(href=item.href)
                include ./navItem_layout
    button#sidebar-toggler.fixed-bottom.bg-transparent.border-0(type="button")
        i.fas.fa-angle-double-right.fa-2x.p-2.text-white