extends ../templates/card_footerless_templ
block card-header
    i.fas.fa-info-circle.fa-2x.pr-3
    span.font-weight-bold.card-title Information
block card-body
    div.row.text-left.m-2.mt-4#image-info
        for key in Object.keys(info)
            if infoLabels.hasOwnProperty(key)
                - 
                    const label = infoLabels[key];
                    let val = info[key];
                    if (!val && typeof(val) != "boolean"){
                        val = "-";
                    }
                div.col-6
                    div.p-1
                        span.label.infoCol= label + ":"
                        br
                        if (Array.isArray(val) && val.length > 1)
                            ul.list-unstyled
                                each line in val
                                    li= line
                        else
                            span= val
