extends ../templates/card_footerless_templ
block card-body
    i.fas.fa-layer-group.fa-2x.pr-3
    span.class-title.card-title Layers
    div(id="layersTable-parent")
        include layersTable
        