extends ../templates/card_footerless_templ
block card-body
    i.fas.fa-cog.fa-2x.pr-3
    span.class-title.card-title Configuration
    div.row.m-2.mt-4.text-left#image-config
        for key in Object.keys(config)
            if configLabels.hasOwnProperty(key)
                - 
                    const label = configLabels[key];
                    let val = config[key];
                    if (!val && typeof(val) != "boolean"){
                        val = "-";
                    }
                div.col-6
                    div.p-1
                        span.label.infoCol= label + ":"
                        br
                        if (Array.isArray(val) && val.length > 1)
                            ul.list-unstyled
                                each line in val
                                    li= line
                        else
                            span= val
                