table#layer-table.table.table-hover.mt-4.table-responsive-sm.table-responsive-md.table-responsive-lg.table-responsive-xl
    thead
        tr
            th LAYER
            th ID
    tbody
        - for(let li = 0; li < layers.length; li++)
            tr 
                td(style="width: 15%;")= li
                td(style="width: wrap-content;")= layers[li]