extends ../../templates/card_footerless_templ
block card-header
    i.fas.fa-chart-pie.pr-3
    span.font-weight-bold.card-title CPU Usage by Process
block card-body
    canvas#cpuUsageByProcessChart.card-text