extends ../../templates/card_footerless_templ
block card-header
    i.fas.fa-chart-pie.pr-3
    span.font-weight-bold.card-title Processes by State
block card-body
    canvas#processesByStateChart.card-text